
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1463923417'); /* IE9*/
  src: url('iconfont.eot?t=1463923417#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1463923417') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1463923417') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1463923417#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tag:before { content: "\e608"; }
.icon-twitter:before { content: "\e609"; }
.icon-github:before { content: "\e600"; }
.icon-telegram:before { content: "\e60c"; }
.icon-google:before { content: "\e605"; }
.icon-2b:before { content: "\e601"; }
