<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.min.css">
<title>{{ SITENAME }}{% block title %}{% endblock %}</title>
{% if BROWSER_COLOR %}
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="{{ BROWSER_COLOR }}">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{% endif %}
{% block meta %}
<meta name="author" content="{{ AUTHOR }}" />
<meta name="description" content="{{ SITEDESCRIPTION }}" />
{% include "partial/og.html" %}
{% endblock %}
{% if FEED_ALL_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
{% endif %}
{% if FEED_ALL_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
{% endif %}
</head>
<body>
{% if GOOGLE_TAG_MANAGER %}
{% include "partial/gtm.html" %}
{% endif %}
<aside>
<div>
<div>
<div id="logo"><a class="iconfont"  href={{ SITEURL }}>&#xe601;</a></div>

<h1><a href="/">{{SITENAME}}</a></h1>
<p>{{SITESUBTITLE}}</p></div>
<nav>
<ul><li><a href={{ SITEURL }} >首 页</a></li>
      {% for title, link in MENUITEMS %}
<li><a href={{ link }}> {{ title }}</a></li>
      {% endfor %}
</ul></nav>
<ul class="social">
<li><a class="iconfont sc-github" href="https://github.com/Pmin">&#xe600;</a></li>
<li><a class="iconfont sc-google" href="https://plus.google.com/+%E8%99%9A%E7%A9%BA%E6%B3%A1%E9%9D%A2">&#xe605;</a></li>
<li><a class="iconfont sc-twitter" href="https://twitter.com/diancao">&#xe609;</a></li>
</ul></div></aside>
<main>
{% block content %}
{% endblock %}
<footer>
{% if CC_LICENSE %}
{% include "partial/cc_license.html" %}
{% else %}
<p>&copy; {{ AUTHOR }} {{ COPYRIGHT_YEAR }}</p>
{% include "partial/footer.html" %}
{% if STATUSCAKE %}
{% include "partial/statuscake.html" %}
{% endif %}
{% endif %}
</footer></main>
  {% if GOOGLE_ANALYTICS %}
    {% include "partial/ga.html" %}
  {% endif %}
  {% if GUAGES %}
    {% include "partial/guages.html" %}
  {% endif %}
  {% if PIWIK_URL and PIWIK_SITE_ID %}
    {% include "partial/piwik.html" %}
  {% endif %}
  {% block additional_js %}{% endblock %}
</body>
</html>
