{% extends "base.html" %}
{% block title %}-{{SITESUBTITLE}}{% endblock %}
{% block content %}
{% for article in articles_page.object_list %}
<article>
<header>
<h1><a href={{ SITEURL }}/{{ article.url }}>{{ article.title }}</a></h1>
<div class="meta iconfont icon-tag">
{{ article.locale_date }}
      {% if article.tags %}
      {% for tag in article.tags %}
<a href="{{ SITEURL }}/{{ tag.url }}" >#{{ tag }}</a>
      {% endfor %}
      {% endif %}
</div></header>
<hr>
<div>
<p>
{% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
{{ article.summary }}
{% else %}
{{ article.content }}
{% endif %}
</p>
<p>
<a class="btn" href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}" alt="read more">阅读全文>></a>
<p>
</div>
{% if not loop.last %}
{% endif %}
</article>
{% endfor %}
{% include "partial/pagination.html" %}
{% endblock %}
{% block additional_js %}
{% include "partial/jsonld.html" %}
{% include "partial/disqus_count.html" %}
{% endblock %}
